.LanguageSelector,
.LanguageSelector span,
.LanguageSelector svg {
    font-size: 0.875rem;
}

.LanguageSelector > div > div > span {
    color: white;
}

.LanguageSelector > div {
    display: flex;
}

.LanguageSelector img {
    height: 16px !important;
}

.LanguageSelector li {
    margin: auto;
    padding-right: 4px;
}

.LanguageSelector fieldset {
    border: none;
}