.download-app-button {
    display: flex;
    justify-content: center;
}

.download-app-button div {
    width: 200px;
    height: 60px;
    margin: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}